/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {}

#band-name {
  height: 300px;
  position: relative;
  background-size: cover;
}

#band-name span {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 100;
  color: #ffffff
}

#band-name:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: .6;
  z-index: 0;
  /*width: 714.844px;
  height: 300px;*/
}

#Button {
  position: absolute;
  top: 10px;
  left: 25px;
  margin: 5px;
  color: white;
  margin-top: 9px;
  margin-left: 9px
}

#oneStop {
  margin-right: -200px;
}

#madeBy {
  margin-left: 11px;
}

#related-bands {
  position: left;
  margin-left: 100px;
  margin-top: -420px;
}

#searchBar {
  width: 25%;
  margin-top: -65px;
  margin-left: 100px;
}

#index-banner {
  margin-top: 90px;
}

#sideBarImg {
  height: 200px;
}

#listeningTo {
  top: 100px
}

.related-bands-lis {
  text-transform: capitalize;
}

#thing {
  margin-left: 100px
}

#current-track {
  width: 100px;
  height: 100px;
}

#current-songTrack {
  margin-left: 100px;
  margin-bottom: 20px;
  list-style-type: none;
}
